<!DOCTYPE html>
<html>
  <head>
    <title>Wistia Webhooks Demo</title>
    <meta name="description" content="A Wistia thing made with Glitch">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/fa923940-f3fc-440e-a0c8-6ba5804bf6d0%2Ffavicon.ico?1490716873266" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <!-- Welcome note -->
    <p>
      Hi! This here's a demo of <a href="https://wistia.com/doc/webhooks">Wistia Webhooks</a>.
    </p>
    <p>
      Play the video below to see webhooks in action.
    </p>
    
    
    <!-- Standard (aka async) embed. -->
    <script src="https://fast.wistia.com/embed/medias/t7clqlza0a.jsonp" async></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    <div class="wistia_embed wistia_async_t7clqlza0a" style="height:360px;width:640px">&nbsp;</div>
    
    <div id="webhooks_log" class="log_wrapper">
      <pre v-highlightjs="payloads"><code class="javascript log"></code></pre>
    </div>
    
    <!-- Footer link to remix on Glitch     -->
    <footer>
      <a id="view_source" href="#" target="_blank">
        <img src="https://cdn.glitch.com/fa923940-f3fc-440e-a0c8-6ba5804bf6d0%2Fremix-on-glitch?1491273824162"
             width="162"
             alt="Remix on Glitch">
      </a>
    </footer>
  
    <!-- jQuery, should you need it -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue"></script>
    
    <!-- Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>


    <!-- Other JavaScript you might want to include, if you're not into the whole inline scripts thing -->
    <script src="/client.js"></script>
    
    
    <!-- highlight.js -->
    <!-- https://www.metachris.com/2017/02/vuejs-syntax-highlighting-with-highlightjs/ -->
    <link rel="stylesheet" href="highlighting.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    
    <script>
      window.payloads = [];
      var socket = io();
      socket.on('event', function(payload){
        console.log(payload);
        payloads.unshift(JSON.stringify(payload, null, 2))
      });
      
      Vue.directive('highlightjs', {
        deep: true,
        bind: function (el, binding) {
          // on first bind, highlight all targets
          let targets = el.querySelectorAll('code')
          targets.forEach((target) => {
            // if a value is directly assigned to the directive, use this
            // instead of the element content.
            if (binding.value) {
              target.textContent = binding.value
            }
            hljs.highlightBlock(target)
          })
        },
        componentUpdated: function (el, binding) {
          // after an update, re-fill the content and then highlight
          let targets = el.querySelectorAll('code')
          targets.forEach((target) => {
            if (binding.value) {
              target.textContent = binding.value
              hljs.highlightBlock(target)
            }
          })
        }
      })
      
      var app = new Vue({
        el: '#webhooks_log',
        data: {
          payloads: payloads
        }
      })
    </script>

    
  </body>
</html>
