<!DOCTYPE html>
<html>
  <head>
    <title>Wistia Webhooks Demo</title>
    <meta name="description" content="A Wistia thing made with Glitch">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/fa923940-f3fc-440e-a0c8-6ba5804bf6d0%2Ffavicon.ico?1490716873266" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <!-- Welcome note -->
    <p>
      Hi! This here's a demo of <a href="https://wistia.com/doc/webhooks">Wistia Webhooks</a>.
    </p>
    <p>
      Play the video below to see webhooks in action.
    </p>
    
    
    <!-- Standard (aka async) embed. -->
    <script src="https://fast.wistia.com/embed/medias/bnxj98f2qv.jsonp" async></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    <div class="wistia_embed wistia_async_bnxj98f2qv" style="height:360px;width:640px">&nbsp;</div>
    
    
    
    <!-- Footer link to remix on Glitch     -->
    <footer>
      <a id="view_source" href="#" target="_blank">
        <img src="https://cdn.glitch.com/fa923940-f3fc-440e-a0c8-6ba5804bf6d0%2Fremix-on-glitch?1491273824162"
             width="162"
             alt="Remix on Glitch">
      </a>
    </footer>
  
    <!-- jQuery, should you need it -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    
    
    <!-- Other JavaScript you might want to include, if you're not into the whole inline scripts thing -->
    <script src="/client.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script>
      var socket = io();
      socket.on('event', function(payload){
        console.log(payload);
      });
    </script>

  </body>
</html>
