<!DOCTYPE html>
<html>
  <head>
    <title>Wistia Support Demo</title>
    <meta name="description" content="A Wistia thing made with Glitch">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/fa923940-f3fc-440e-a0c8-6ba5804bf6d0%2Ffavicon.ico?1490716873266" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    
    
    <!-- Note about what to do, or look at, on the live demo page -->
    <p>
      Hi! This here's a demo of how to get a handle to the <a href="https://wistia.com/doc/player-api">Wistia Player API</a>, and bind to a Player API event.
    </p>
    <p>
      Please open your browser's console, and play the video.
    </p>
    
    
    
    <!-- Standard (aka async) embed. Replace this with the embed(s) or other stuff relevant to your customer's problem. -->
    <script src="https://fast.wistia.com/embed/medias/bnxj98f2qv.jsonp" async></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    <div class="wistia_embed wistia_async_bnxj98f2qv" style="height:360px;width:640px">&nbsp;</div>
    
    
    
    <!-- Example Player API example, using _wq to get a handle to that embed 👆 -->
    <script>
      window._wq = window._wq || [];
      _wq.push({
        id: 'bnxj98f2qv',
        onReady: myFunction
      });
      
      function myFunction(video) {
        video.bind('play', function() {
          console.log('play event fired for video with hashedId: ' + video.hashedId());
        });
      }
      
    </script>
    
    

    <!-- jQuery, should you need it -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    
    
    
    <!-- Other JavaScript you might want to include, if you're not into the whole inline scripts thing -->
    <script src="/client.js"></script>

  </body>
</html>
