/* styles */

* {
  font-family: monospace;
}


#webhooks_log {
  width: 640px;
}

.log {
  height: 240px;
  overflow: scroll;
}

/* footer */

footer {
  border-top: 1px solid #c3c3c3;
  margin-top: 30px;
  padding-top: 30px;
}

p {
  max-width: 90%;
}